@import "../../../scss/vars";

// Header class and his content
header{
    position: relative;
    @include flex(column, flex-start, center);
    width: 100%;
    background-color: $blue-header;
    .header-container{
        position: relative;
        @include flex(row, space-between, center);
        width: 100%;
        max-width: $work-space;
        padding: 16px;

        h1 {
            font-size: 2rem;
            color: #fff;
            @include tablet{
                font-size: 1.6rem;
            }
            @include mobile {
                font-size: 1.2rem;
            }
        }
        .languages {
            position: relative;
            @include flex(row, space-between, center);
            height: auto;
            color: #fff;
            a{
                margin: 0;
                text-decoration: none;
                color: #fff;
                cursor: pointer;
                &:hover{
                    color: $white-noti;
                    transition: all 250ms ease-in-out;
                }
            }
        }
    }
}

// Main section and his content
section{
    position: relative;
    @include flex(column, flex-start, center);
    width: 100%;

    .main-content{
        position: relative;
        @include flex(column, flex-start, center);
        width: 100%;
        max-width: $work-space;
        padding: 16px;

        form {
            @include flex(column, flex-start, flex-start);
            width: 30%;
            padding: 8px;
            margin-bottom: 16px;
            label {
                margin-bottom: 8px;
                @include mobile {
                    font-size: 14px;
                }
            }
            select {
                position: relative;
                width: 100%;
                border: solid 2px $blue-header;
                border-radius: 16px;
                &:focus-visible {
                    border: solid 2px $blue-header;
                }
            }
            @include tablet{
                width: 50%;
            }
            @include mobile {
                width: 100%;
            }
        }

        .weather-section {
            @include flex(column, flex-start, center);
            width: 100%;
            padding: 8px;
            border: solid 1px $blue-header;
            border-radius: 8px;
            .w-s-city {
                text-align: center;
                margin-bottom: 8px;
            }
            .w-s-weather{
                @include flex(row, space-around, center);
                width: 100%;
                .img-content{
                    @include flex(column, flex-start, center);
                    p {
                        @include tablet {
                            font-size: 14px;
                        }
                        @include mobile {
                            font-size: 12px;
                        }
                    }
                    img {
                        @include mobile {
                            height: 128px;
                        }
                    }
                    @include mobile {
                        height: 128px;
                        margin-bottom: 8px;
                    }
                }
                .w-s-temp {
                    font-size: 3rem;
                    @include tablet {
                       font-size: 2.7rem;
                    }
                    @include mobile {
                        font-size: 2.5rem;
                    }
                }
                .w-s-others {
                    p{
                        @include tablet {
                            font-size: 14px;
                        }
                        @include mobile {
                            font-size: 12px;
                            text-align: center
                        }
                    } 
                }
                @include mobile {
                    @include flex(column, flex-start, center);
                }
            }
            .w-s-next {
                @include flex(row, space-between, center);
                flex-wrap: wrap;
                margin-top: 8px;
                width: 100%;
                .next-w-i {
                    margin: 8px;
                    @include mobile {
                        @include flex(column, flex-start, center);
                    }
                    img {
                        @include mobile {
                            height: 80px;
                        }
                    }
                }
                .next-w-i div > p {
                    @include tablet {
                        font-size: 14px;
                    }
                    @include mobile {
                        font-size: 12px;
                        text-align: center;
                    }
                }
                @include mobile {
                    @include flex(row, space-evenly, center);
                }
            }
        }
    }
}

// Class when change the language
.idiomSelect {
    color: $white-noti !important;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}
